body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #121212;
  color: #fff;
}

.container {
  display: flex;
  height: 80vh;
  overflow: hidden;
}

.left, .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0;
  border: 1px solid #333;
}

.editor-wrapper {
  flex: 1;
  background-color: #1e1e1e;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #2b2b2b;
  color: white;
  font-size: 1rem;
  border-bottom: 1px solid #444;
}


.toolbar button {
  background-color: #4caf50;
  border: none;
  padding: 8px 16px;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.toolbar button:hover {
  background-color: #45a049;
}

iframe {
  border: none;
  flex: 1;
  background: white;
}

.dark {
  background-color: #1e1e1e;
  color: white;
}
.light {
  background-color: #fff;
  color: black;
}
